

  .link {
    color:$blue;
    font-weight:bold;
    text-decoration:none;
  }


  .blockquote {
    font-size:1.2em;
    font-style:italic;
    border-left:solid .4em $green;
    padding-left:1em;
    text-align:left;
  }


  .headline--primary {
    color: $green;
    text-align:left;
    padding-left:35px;
  }

  .headline--secondary {
    text-align:left;
    font-weight:lighter;
    padding-left:2em;
    padding-bottom:20px;

  }


  